@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Wendy+One&display=swap&subset=cyrillic-ext");
/*Обнуление*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}

/*---------------- HEADER,MENU & BURGER -----------*/
.header {
	&__container {
		width: 100%;
	}

	&__top {
		background-color: #111111;
		padding: 11px 32px;
	}

	&__contacts {
		display: flex;
		justify-content: space-between;
	}

	&__contacts-adress {
		color: #ffffff;
		font-size: 12px;
		line-height: 14px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		padding: 22px 0 22px 36px;
	}
}

.contacts__link {
	color: #ffffff;
	font-size: 12px;
	line-height: 14px;
}

.contacts__link:not(:last-child) {
	margin-right: 32px;
}

.menu {
	padding: 20px 32px 20px 0;
}

.navigation {
	&__list {
		display: flex;
	}

	&__item:not(:last-child) {
		margin-right: 32px;
	}

	&__link {
		color: #212121;
		line-height: 20px;
	}
}

.mobile-menu,
.burger,
.header__contacts-social,
.header__contacts-mobile {
	display: none;
}

.phoneicons,
.phoneicons-close {
	cursor: pointer;
}

.burger {
	cursor: pointer;
	width: 20px;
	height: 11px;

	span {
		display: block;
		margin: 7px 0;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		transition: all 0.5s ease 0s;
		background-color: #000000;
	}

	&.active::before {
		transform: rotate(45deg) translate(0, 7px);
	}
	&.active::after {
		transform: rotate(-45deg) translate(0, -7px);
	}
}
/*---------------- HEADER,MENU & BURGER <767px -----------*/
@media (max-width: 767px) {
	.header__top,
	.header__logo,
	.header__contacts-adress,
	.navigation,
	.phoneicons-close,
	nav.menu {
		display: none;
	}

	.mobile-menu,
	.burger,
	.header__contacts {
		display: block;
	}

	.phoneicons.active {
		.phoneicons svg {
			display: none;
		}

		.phoneicons-close {
			display: block;
		}
	}

	.header {
		&__top.active {
			display: block;
			background-color: #ffffff;
			margin-top: 70px;
			padding: 32px 0 40px 0;

			&__contacts-contacts {
				display: flex;
				flex-direction: column;
			}

			&__contacts-social {
				display: flex;
				justify-content: center;
			}

			.contacts__link {
				color: #000000;
				font-size: 16px;
				line-height: 20px;
				font-weight: 500;
				display: flex;
				justify-content: center;
				margin-right: 0;
			}
		}
	}

	.mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		padding-left: 18px;
		padding-right: 16px;

		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 14px;
			padding-bottom: 14px;
		}

		&__navigation.active {
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}

	.navigation {
		&__list {
			flex-direction: column;
		}

		&__item {
			position: relative;
		}

		&__item:not(:last-child) {
			margin-right: 0px;
		}

		&__link {
			font-size: 16px;
			line-height: 18px;
			color: #000000;

			line-height: 60px;
			margin: auto 30px auto 0;

			&__phone:last-child {
				margin-top: 16px;
			}

			&__mail {
				margin-top: 20px;
				margin-bottom: 24px;
			}
		}

		&__link:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: #e5e5e5;
		}
	}

	.header__top.active .contacts__link:first-child {
		order: 3;
	}

	.link__phone .header__contacts-social > :not(:first-child) {
		margin-left: 28px;
	}
}

/*--------------- HOME PAGE------------------*/

main {
	overflow: hidden;
}

.home-page {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	&__hero {
		display: grid;
		grid-template-columns: 25fr 11fr;
		grid-template-rows: 1fr 1fr;
		grid-auto-flow: row;
	}

	&__call,
	&__calculator-repair,
	&__trade-in {
		position: relative;
		overflow: hidden;
	}

	&__call {
		background: linear-gradient(0deg, #ffffff 29.68%, rgba(255, 255, 255, 0) 172.53%),
			linear-gradient(0deg, #efefef, #efefef);

		grid-column: 1;
		grid-row: 1 / 3;
	}

	&__call-content {
		padding: 96px 0 0 132px;
	}

	&__call-title {
		font-weight: 700;
		font-size: 64px;
		line-height: 64px;
		color: #000000;
		max-width: 520px;
	}

	&__call-description {
		margin-top: 16px;
		font-size: 20px;
		line-height: 32px;
		color: #5b5b5b;
		max-width: 390px;
	}

	&__call-photo {
		position: absolute;
		max-width: 100%;
		height: auto;
		bottom: 0;
		left: 0;
	}

	&__call-photo img {
		width: 100%;
	}

	&__calculator-repair {
		background: linear-gradient(328.46deg, #ffffff 16.44%, rgba(255, 255, 255, 0) 102.9%),
			linear-gradient(0deg, #dfdfdf, #dfdfdf);
	}

	&__calculator-repair--content,
	&__trade-in--content {
		padding: 40px 0 0 40px;
	}

	&__calculator-repair--title,
	&__trade-in--title {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: #000000;
	}

	&__calculator-repair--description,
	&__trade-in--description {
		margin-top: 4px;
		font-size: 16px;
		line-height: 24px;
		color: #5b5b5b;
	}

	&__calculator-repair--photo,
	&__trade-in--photo {
		cursor: pointer;
		//object-fit: cover;
		//width: 100%;
	}

	&__calculator-repair--photo:hover,
	&__trade-in--photo:hover {
		transform: scale(1.2);
		object-fit: cover;
		transition: transform 0.5s ease 0s;
	}

	&__trade-in {
		background: linear-gradient(344.28deg, #ffffff 35.09%, rgba(255, 255, 255, 0) 81.62%),
			linear-gradient(0deg, #bababa, #bababa);
	}
}
.btn {
	cursor: pointer;
	border: none;
}
.home-pade {
	&__call-btn {
		margin-top: 24px;
		margin-bottom: 50px;
		padding: 12px 24px;
		border-radius: 24px;
		background-color: #2c6dec;
		color: #ffffff;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
	}

	&__calculator-repair--btn,
	&__trade-in--btn {
		margin-top: 16px;
		border: none;
		background-color: inherit;
		z-index: 9;
		position: absolute;
	}
}
/*--------------- HOME PAGE < 1365px------------------*/

@media (max-width: 1000px) {
	.home-page {
		&__hero {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 2fr 1fr;
			grid-auto-flow: column;
		}

		&__call {
			grid-column: 1/3;
			grid-row: 1;
		}

		&__calculator-repair {
			grid-column: 1/2;
			grid-row: 2/3;
		}

		&__trade-in {
			grid-column: 2/3;
			grid-row: 2/3;
		}

		&__trade-in--photo img {
		}

		&__call-content {
			padding: 40px 0 0 40px;
		}

		&__call-title {
			font-size: 56px;
			line-height: 56px;
			color: #000000;
			max-width: 462px;
		}

		&__call-description {
			margin-top: 24px;
			font-size: 18px;
			line-height: 28px;
			color: #5b5b5b;
			max-width: 350px;
		}
	}
}
/*--------------- HOME PAGE < 767px ------------------*/

@media (max-width: 767px) {
}
/*--------LOCATION---------------*/

.location {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	&__content {
		position: absolute;
		z-index: 1;
		padding: 132px 0 0 132px;
		width: 100%;
		max-width: 540px;
	}

	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: #000000;
	}

	&__description {
		font-size: 16px;
		line-height: 24px;
		color: #5b5b5b;
		margin-top: 4px;
	}

	&__image {
		position: relative;
		width: 100%;
		max-width: 1440px;
		height: auto;
	}
}

/*----------SERVICE-----------*/

.service {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;

	&__warranty-repair,
	&__used-iphones {
		position: relative;
		width: 50%;
		max-height: 496px;
	}

	&__warranty-repair--content,
	&__used-iphones--content {
		position: absolute;
		z-index: 1;
		padding: 56px 0 0 56px;
	}

	&__warranty-repair--title,
	&__used-iphones--title {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: #000000;
	}

	&__warranty-repair--description,
	&__used-iphones--description {
		font-size: 16px;
		line-height: 24px;
		color: #5b5b5b;
		margin-top: 4px;
	}

	&__warranty-repair--btn,
	&__used-iphones--btn {
		border: none;
		margin-top: 16px;
	}

	&__warranty-repair--photo,
	&__used-iphones--photo {
		position: relative;
		overflow: hidden;
	}

	&__warranty-repair--image,
	&__used-iphones--image {
		max-width: 720px;
		max-height: 496px;
		//position: relative;
		width: 100%;
		max-width: 1440px;
		height: auto;
		cursor: pointer;
	}

	&__warranty-repair--image:hover,
	&__used-iphones--image:hover {
		transform: scale(1.3);
		object-fit: cover;
		transition: transform 0.5s ease 0s;
	}
}

/*---------- SERVICE LIST -----------*/

.service-list {
	padding: 112px;
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 104px;
	grid-row-gap: 80px;

	&__repair-title,
	&__diagnostics-title,
	&__sale-accessories--title {
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		margin-top: 18px;
	}

	&__warranty-replacement--title,
	&__sales-iphone--title,
	&__help-master--title {
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		margin-top: 18px;
	}

	&__repair-description,
	&__diagnostics-description,
	&__sale-accessories--description,
	&__warranty-replacement--description,
	&__sales-iphone--description,
	&__help-master--description {
		font-size: 16px;
		line-height: 24px;
		color: #959595;
		margin-top: 12px;
	}
}

/*------------ FOOTER --------------*/

.footer {
	position: relative;
	width: 100%;
	background-color: #111111;
	padding: 64px 112px;

	&__top {
		display: flex;
		justify-content: space-between;
	}

	&__call-order {
		max-width: 320px;
	}

	&__call-order--title,
	&__contacts-description,
	&__adress-location--title,
	&__adress-working--hours---title {
		font-size: 18px;
		line-height: 24px;
		color: #ffffff;
		opacity: 32%;
	}

	&__call-order--description {
		font-weight: 500;
		line-height: 20px;
		color: #ffffff;
		margin-top: 4px;
	}

	&__call-order--form {
		margin-top: 12px;
		position: relative;
	}

	&__call-order--number---tel {
		padding: 16px 132px 16px 16px;
		border-radius: 8px;
		border: none;
	}

	&__call-order--btn {
		padding: 12px 16px;
		border-radius: 4px;
		background-color: #2c6dec;
		color: #ffffff;

		position: absolute;
		right: 6px;
		top: 4px;
	}

	&__call-order--personal---data {
		font-size: 12px;
		line-height: 16px;
		color: #ffffff;
		opacity: 24%;
		margin-top: 12px;
	}

	&__data-us {
		display: flex;
	}

	&__map {
		max-width: 148px;
		width: 100%;
		max-height: 148px;
		height: 100%;
		margin-right: 64px;
	}

	&__contacts {
		margin-right: 45px;
	}

	&__contacts-our--contacts {
		display: flex;
		flex-direction: column;
		margin-top: 4px;
	}

	&__contacts-social {
		margin-top: 28px;
	}

	&__contacts-social--link svg {
		fill: #ffffff;
	}

	&__contacts-social--link:not(:last-child) {
		margin-right: 16px;
	}

	.link {
		&__phone {
			font-weight: 500;
			line-height: 20px;
			color: #ffffff;
		}

		&__mail {
			font-weight: 500;
			line-height: 20px;
			color: #ffffff;
			margin-top: 4px;
		}
	}

	&__adress-location--description,
	&__adress-working--hours---description {
		font-weight: 500;
		line-height: 20px;
		color: #ffffff;
		margin-top: 4px;
	}

	&__adress-working--hours {
		margin-top: 40px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		margin-top: 100px;
	}

	&__logo svg {
		fill: #ffffff;
	}

	&__copyright {
		display: flex;
		align-items: center;
	}

	&__copyright-description {
		line-height: 16px;
		color: #ffffff;
	}

	&__copyright-name {
		align-self: end;
	}
}

/*------------ MODAL -----------*/

.modal {
	display: none;
	background-color: rgba(0, 0, 0, 0.64);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;

	&__container {
		display: flex;
		width: 100%;
		height: 100%;
	}

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 696px;
		height: 356px;
		margin: auto;
		background-color: #ffffff;
		border-radius: 24px;
		overflow: hidden;
	}

	&__content {
		padding: 64px 0 0 64px;
	}

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 36px;
		color: #000000;
		max-width: 312px;
	}

	&__description {
		font-weight: 500;
		line-height: 20px;
		color: #5b5b5b;
		margin-top: 32px;
	}

	&__call-order--form {
		margin-top: 12px;
		position: relative;
		width: 312px;
	}

	&__call-order--number---tel {
		padding: 16px 132px 16px 16px;
		border-radius: 8px;
	}

	&__call-order--btn {
		position: absolute;
		padding: 12px 16px;
		background-color: #2c6dec;
		border-radius: 4px;
		font-weight: 500;
		line-height: 16px;
		color: #ffffff;
		top: 5px;
		right: -5px;
		border: none;
	}

	&__call-order--invalid---num {
		display: none;
		color: #f00;
		font-size: 12px;
		line-height: 14px;
		margin-top: 8px;
	}

	&__call-order--personal---data {
		font-size: 12px;
		line-height: 16px;
		color: #000000;
		opacity: 24%;
		margin-top: 12px;
		max-width: 312px;
	}
	&__photo {
	}

	&__call-order--btn:hover {
		background-color: rgba(44, 109, 236, 0.72);
	}

	&__call-order--btn:active {
		background-color: #003eb8;
	}

	&__close-btn {
		border: none;
		background-color: transparent;
		position: absolute;
		right: 18px;
		top: 18px;
		cursor: pointer;
	}

	&__close-btn svg:hover {
		fill: #333333;
	}
}

.modal.active,
.modal__call-order--invalid---num.active {
	display: block;
}

/*-----------MODAL-REPAIR-------------*/

.modal {
	&__repair {
		display: none;
		background-color: rgba(0, 0, 0, 0.64);
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 999;
	}

	&__repair-body {
		position: relative;
		width: 1112px;
		margin: auto;
		background-color: #ffffff;
		border-radius: 24px;
		padding: 66px;
	}

	&__repair-title {
		font-weight: 500;
		font-size: 28px;
		line-height: 32px;
		color: #000000;
		text-align: center;
	}

	&__repair-subtitle {
		font-size: 18px;
		line-height: 24px;
		color: #5b5b5b;
		text-align: center;
		margin-top: 8px;
	}

	&__repair-blocks {
		margin-top: 88px;
		display: flex;
		justify-content: space-between;
	}

	&__repair-inner,
	&__repair-outside,
	&__repair-program {
		display: flex;
	}

	&__repair-inner--subtitle,
	&__repair-outside--subtitle,
	&__repair-program--subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 27px;
		color: #000000;
		margin-left: 24px;
	}

	&__repair-item {
		margin-top: 24px;
		font-size: 16px;
		line-height: 28px;
		color: #5b5b5b;
	}

	&__repair-item > li {
		list-style: inside;
	}

	&__repair-description {
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
		color: #000000;
		text-align: center;
		max-width: 530px;
		margin: 0 auto;
	}
}

.modal__repair-underline {
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background-color: #cbcbcb;
		margin-top: 62px;
		margin-bottom: 45px;
	}
}

.modal__repair.active {
	display: block;
}

/*-------------MODAL USED-IPHONES------------------*/

.modal {
	&__used-iphones {
		display: none;
		background-color: rgba(0, 0, 0, 0.64);
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 999;
		overflow-y: auto;
	}

	&__used-iphones-body {
		position: relative;
		width: 1112px;
		margin: auto;
		background-color: #ffffff;
		border-radius: 24px;
		padding: 84px 66px;
	}

	&__used-iphones--gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.gallery {
	&__item {
		margin-top: 64px;
	}

	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #000000;
		margin-top: 20px;
	}

	&__description {
		line-height: 24px;
		text-align: left;
		margin-top: 8px;
		max-width: 272px;
	}
}

.modal__used-iphones.active {
	display: block;
}
