@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Wendy+One&display=swap&subset=cyrillic-ext");
/*Обнуление*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}

/*---------------- HEADER -----------*/
.container {
	width: 100%;
}

.header__top {
	background-color: #111111;
	padding: 11px 32px;
}

.header__contacts {
	display: flex;
	justify-content: space-between;
}

.header__contacts-adress {
	color: #ffffff;
	font-size: 12px;
	line-height: 14px;
}

.contacts__link {
	color: #ffffff;
	font-size: 12px;
	line-height: 14px;
}

.contacts__link:not(:last-child) {
	margin-right: 32px;
}

.header__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	padding: 22px 0 22px 36px;
}

.menu {
	padding: 20px 32px 20px 0;
}

.navigation__list {
	display: flex;
}

.navigation__link {
	color: #212121;
	line-height: 20px;
}

.navigation__item:not(:last-child) {
	margin-right: 32px;
}

/*--------------MENU & BURGER-----------------*/
.mobile-menu,
.burger,
.header__contacts-social,
.header__contacts-mobile {
	display: none;
}

.burger {
	cursor: pointer;
	width: 20px;
	height: 11px;

	span {
		display: block;
		margin: 7px 0;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		transition: all 0.5s ease 0s;
		background-color: #000000;
	}

	&.active::before {
		transform: rotate(45deg) translate(0, 7px);
	}
	&.active::after {
		transform: rotate(-45deg) translate(0, -7px);
	}
}

.phoneicons,
.phoneicons-close {
	cursor: pointer;
}

/*---------------- HEADER <767px -----------*/
@media (max-width: 767px) {
	.header__top,
	.header__logo,
	.mobile-menu--navigation,
	.phoneicons-close,
	nav.menu {
		display: none;
	}

	.mobile-menu,
	.burger {
		display: block;
	}

	.mobile-menu--header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.mobile-menu--navigation.active {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.navigation__list {
		flex-direction: column;
	}

	.navigation__link {
		font-size: 16px;
		line-height: 18px;
		color: #000000;
	}

	.navigation__item {
		position: relative;
	}

	.navigation__item:not(:last-child) {
		margin-right: 0px;
	}

	.navigation__link {
		line-height: 60px;
		margin: auto 30px auto 0;
	}

	.navigation__link:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: #e5e5e5;
	}

	.header__top.active .contacts__link:first-child {
		order: 3;
	}

	.mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		padding-left: 18px;
		padding-right: 16px;
	}

	.link__phone:last-child {
		margin-top: 16px;
	}
	.header__contacts-social > :not(:first-child) {
		margin-left: 28px;
	}

	.link__mail {
		margin-top: 20px;
		margin-bottom: 24px;
	}

	.header__top.active {
		display: block;
		background-color: #ffffff;
		margin-top: 70px;
		padding: 32px 0 40px 0;

		.header__contacts {
			display: block;
		}

		.header__contacts-adress {
			display: none;
		}

		.header__contacts-contacts {
			display: flex;
			flex-direction: column;
		}

		.contacts__link {
			color: #000000;
			font-size: 16px;
			line-height: 20px;
			font-weight: 500;
			display: flex;
			justify-content: center;
			margin-right: 0;
		}

		.header__contacts-social {
			display: flex;
			justify-content: center;
		}
	}

	.phoneicons.active {
		.phoneicons svg {
			display: none;
		}

		.phoneicons-close {
			display: block;
		}
	}
}

/*--------------- HOME PAGE------------------*/

main {
	overflow: hidden;
}

.home-page {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	&__hero {
		display: grid;
		grid-template-columns: 25fr 11fr;
		grid-template-rows: 1fr 1fr;
		grid-auto-flow: row;
	}

	&__call {
		background: linear-gradient(0deg, #ffffff 29.68%, rgba(255, 255, 255, 0) 172.53%),
			linear-gradient(0deg, #efefef, #efefef);

		position: relative;
		max-width: 1000px;
		max-height: 804px;

		grid-column: 1;
		grid-row: 1 / 3;
	}

	&__call-content {
		padding: 96px 0 0 132px;
	}

	&__call-title {
		font-weight: 700;
		font-size: 64px;
		line-height: 64px;
		color: #000000;
		max-width: 520px;
	}

	&__call-description {
		margin-top: 16px;
		font-size: 20px;
		line-height: 32px;
		color: #5b5b5b;
		max-width: 390px;
	}

	&__call-photo {
		position: absolute;
		max-width: 100%;
		height: auto;
		bottom: 0;
		left: 0;
	}

	&__call-photo img {
		width: 100%;
	}

	&__calculator-repair {
		background: linear-gradient(328.46deg, #ffffff 16.44%, rgba(255, 255, 255, 0) 102.9%),
			linear-gradient(0deg, #dfdfdf, #dfdfdf);

		position: relative;
		max-width: 440px;
		max-height: 402px;
	}

	&__calculator-repair--content {
		padding: 40px 0 0 40px;
	}

	&__calculator-repair--title {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: #000000;
	}

	&__calculator-repair--description {
		margin-top: 4px;
		font-size: 16px;
		line-height: 24px;
		color: #5b5b5b;
	}

	&__calculator-repair--photo {
		transform: translateY(-20px);
	}

	&__trade-in {
		background: linear-gradient(344.28deg, #ffffff 35.09%, rgba(255, 255, 255, 0) 81.62%),
			linear-gradient(0deg, #bababa, #bababa);

		position: relative;
		max-width: 440px;
		max-height: 402px;
	}

	&__trade-in--content {
		padding: 40px 0 0 40px;
	}

	&__trade-in--title {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: #000000;
	}

	&__trade-in--description {
		margin-top: 4px;
		font-size: 16px;
		line-height: 24px;
		color: #5b5b5b;
	}

	&__button {
	}

	&__trade-in--photo {
		position: relative;
	}
}
.btn {
	cursor: pointer;
	border: none;
}
.home-pade {
	&__call-btn {
		margin-top: 24px;
		margin-bottom: 50px;
		padding: 12px 24px;
		border-radius: 24px;
		background-color: #2c6dec;
		color: #ffffff;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
	}

	&__calculator-repair--btn {
		margin-top: 16px;
		border: none;
		background-color: inherit;
		z-index: 9;
		position: absolute;
	}

	&__trade-in--btn {
		margin-top: 16px;
		border: none;
		background-color: inherit;
		z-index: 9;
		position: absolute;
	}
}

/*--------LOCATION---------------*/

.location {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	&__content {
		position: absolute;
		z-index: 1;
		padding: 132px 0 0 132px;
		width: 100%;
		max-width: 540px;
	}

	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: #000000;
	}

	&__description {
		font-size: 16px;
		line-height: 24px;
		color: #5b5b5b;
		margin-top: 4px;
	}

	&__image {
		position: relative;
		width: 100%;
		max-width: 1440px;
		height: auto;
	}
}

/*----------SERVICE-----------*/

.service {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;

	&__warranty-repair,
	&__used-iphones {
		position: relative;
		max-width: 720px;
		max-height: 496px;
	}

	&__warranty-repair--content,
	&__used-iphones--content {
		position: absolute;
		z-index: 1;
		padding: 56px 0 0 56px;
	}

	&__warranty-repair--title,
	&__used-iphones--title {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: #000000;
	}

	&__warranty-repair--description,
	&__used-iphones--description {
		font-size: 16px;
		line-height: 24px;
		color: #5b5b5b;
		margin-top: 4px;
	}

	&__warranty-repair--btn,
	&__used-iphones--btn {
		border: none;
		margin-top: 16px;
	}

	&__warranty-repair--image,
	&__used-iphones--image {
		max-width: 720px;
		max-height: 496px;
		position: relative;
		width: 100%;
		max-width: 1440px;
		height: auto;
	}
}

/*---------- SERVICE LIST -----------*/

.service-list {
	padding: 112px;
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 104px;
	grid-row-gap: 80px;

	&__repair-title,
	&__diagnostics-title,
	&__sale-accessories--title {
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		margin-top: 18px;
	}

	&__warranty-replacement--title,
	&__sales-iphone--title,
	&__help-master--title {
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		margin-top: 18px;
	}

	&__repair-description,
	&__diagnostics-description,
	&__sale-accessories--description,
	&__warranty-replacement--description,
	&__sales-iphone--description,
	&__help-master--description {
		font-size: 16px;
		line-height: 24px;
		color: #959595;
		margin-top: 12px;
	}
}

/*------------ FOOTER --------------*/

.footer {
	position: relative;
	width: 100%;
	background-color: #111111;
	padding: 64px 112px;

	&__top {
		display: flex;
		justify-content: space-between;
	}

	&__call-order {
		max-width: 320px;
	}

	&__call-order--title,
	&__contacts-description,
	&__adress-location--title,
	&__adress-working--hours---title {
		font-size: 18px;
		line-height: 24px;
		color: #ffffff;
		opacity: 32%;
	}

	&__call-order--description {
		font-weight: 500;
		line-height: 20px;
		color: #ffffff;
		margin-top: 4px;
	}

	&__call-order--form {
		margin-top: 12px;
		position: relative;
	}

	&__call-order--number---tel {
		padding: 16px 132px 16px 16px;
		border-radius: 8px;
		border: none;
	}

	&__call-order--btn {
		padding: 12px 16px;
		border-radius: 4px;
		background-color: #2c6dec;
		color: #ffffff;

		position: absolute;
		right: 6px;
		top: 4px;
	}

	&__call-order--personal---data {
		font-size: 12px;
		line-height: 16px;
		color: #ffffff;
		opacity: 24%;
		margin-top: 12px;
	}

	&__data-us {
		display: flex;
	}

	&__map {
		max-width: 148px;
		width: 100%;
		max-height: 148px;
		height: 100%;
		margin-right: 64px;
	}

	&__contacts {
		margin-right: 45px;
	}

	&__contacts-our--contacts {
		display: flex;
		flex-direction: column;
		margin-top: 4px;
	}

	&__contacts-social {
		margin-top: 28px;
	}

	&__contacts-social--link svg {
		fill: #ffffff;
	}

	&__contacts-social--link:not(:last-child) {
		margin-right: 16px;
	}

	.link {
		&__phone {
			font-weight: 500;
			line-height: 20px;
			color: #ffffff;
		}

		&__mail {
			font-weight: 500;
			line-height: 20px;
			color: #ffffff;
			margin-top: 4px;
		}
	}

	&__adress-location--description,
	&__adress-working--hours---description {
		font-weight: 500;
		line-height: 20px;
		color: #ffffff;
		margin-top: 4px;
	}

	&__adress-working--hours {
		margin-top: 40px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		margin-top: 100px;
	}

	&__logo svg {
		fill: #ffffff;
	}

	&__copyright {
		display: flex;
		align-items: center;
	}

	&__copyright-description {
		line-height: 16px;
		color: #ffffff;
	}

	&__copyright-name {
		align-self: end;
	}
}

/*------------ MODAL -----------*/

.modal {
	&__container {
		display: flex;
		width: 696px;
		height: 356px;
		border-radius: 20px;
		position: relative;
	}

	&__body {
		padding: 64px 0 0 64px;
	}

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 36px;
		color: #000000;
		max-width: 312px;
	}

	&__description {
		font-weight: 500;
		line-height: 20px;
		color: #5b5b5b;
		margin-top: 32px;
	}

	&__call-order--form {
		margin-top: 12px;
		position: relative;
	}

	&__call-order--user---tel {
	}

	&__call-order--number---tel {
		padding: 16px 132px 16px 16px;
		border-radius: 8px;
	}

	&__call-order--btn {
		position: absolute;
		padding: 12px 16px;
		background-color: #2c6dec;
		border-radius: 4px;
		font-weight: 500;
		line-height: 16px;
		color: #ffffff;
		top: 5px;
		right: 5px;
		border: none;
	}

	&__call-order--personal---data {
		font-size: 12px;
		line-height: 16px;
		color: #000000;
		opacity: 24%;
		margin-top: 12px;
		max-width: 312px;
	}
	&__photo {
	}

	&__close-btn {
		border: none;
		background-color: transparent;
		position: absolute;
		right: 60px;
		top: 5px;
	}
}
.btn {
}
