@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Wendy+One&display=swap&subset=cyrillic-ext");
/*Обнуление*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}

/*---------------- HEADER -----------*/
.container {
	width: 100%;
}

.header__top {
	background-color: #111111;
	padding: 11px 32px;
}

.header__contacts {
	display: flex;
	justify-content: space-between;
}

.header__contacts-adress {
	color: #ffffff;
	font-size: 12px;
	line-height: 14px;
}

.contacts__link {
	color: #ffffff;
	font-size: 12px;
	line-height: 14px;
}

.contacts__link:not(:last-child) {
	margin-right: 32px;
}

.header__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	padding: 22px 0 22px 36px;
}

.menu {
	padding: 20px 32px 20px 0;
}

.navigation__list {
	display: flex;
}

.navigation__link {
	color: #212121;
	line-height: 20px;
}

.navigation__item:not(:last-child) {
	margin-right: 32px;
}

/*--------------MENU & BURGER-----------------*/
.mobile-menu,
.burger,
.header__contacts-social,
.header__contacts-mobile {
	display: none;
}

.burger {
	cursor: pointer;
	width: 20px;
	height: 11px;

	span {
		display: block;
		margin: 7px 0;
	}

	&:before,
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		transition: all 0.5s ease 0s;
		background-color: #000000;
	}

	&.active::before {
		transform: rotate(45deg) translate(0, 7px);
	}
	&.active::after {
		transform: rotate(-45deg) translate(0, -7px);
	}
}

.phoneicons,
.phoneicons-close {
	cursor: pointer;
}

/*---------------- HEADER <767px -----------*/
@media (max-width: 767px) {
	.header__top,
	.header__logo,
	.mobile-menu--navigation,
	.phoneicons-close,
	nav.menu {
		display: none;
	}

	.mobile-menu,
	.burger {
		display: block;
	}

	.mobile-menu--header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.mobile-menu--navigation.active {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.navigation__list {
		flex-direction: column;
	}

	.navigation__link {
		font-size: 16px;
		line-height: 18px;
		color: #000000;
	}

	.navigation__item {
		position: relative;
	}

	.navigation__item:not(:last-child) {
		margin-right: 0px;
	}

	.navigation__link {
		line-height: 60px;
		margin: auto 30px auto 0;
	}

	.navigation__link:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: #e5e5e5;
	}

	.header__top.active .contacts__link:first-child {
		order: 3;
	}

	.mobile-menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		padding-left: 18px;
		padding-right: 16px;
	}

	.link__phone:last-child {
		margin-top: 16px;
	}
	.header__contacts-social > :not(:first-child) {
		margin-left: 28px;
	}

	.link__mail {
		margin-top: 20px;
		margin-bottom: 24px;
	}

	.header__top.active {
		display: block;
		background-color: #ffffff;
		margin-top: 70px;
		padding: 32px 0 40px 0;

		.header__contacts {
			display: block;
		}

		.header__contacts-adress {
			display: none;
		}

		.header__contacts-contacts {
			display: flex;
			flex-direction: column;
		}

		.contacts__link {
			color: #000000;
			font-size: 16px;
			line-height: 20px;
			font-weight: 500;
			display: flex;
			justify-content: center;
			margin-right: 0;
		}

		.header__contacts-social {
			display: flex;
			justify-content: center;
		}
	}

	.phoneicons.active {
		.phoneicons svg {
			display: none;
		}

		.phoneicons-close {
			display: block;
		}
	}
}

/*--------------- HOME PAGE------------------*/

main {
	overflow: hidden;
}

.home-page {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	&__hero {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-flow: row;
	}

	&__call {
		background: linear-gradient(0deg, #ffffff 29.68%, rgba(255, 255, 255, 0) 172.53%),
			linear-gradient(0deg, #efefef, #efefef);

		position: relative;
		max-width: 1000px;
		max-height: 804px;	

		grid-column: 1;
		grid-row: 1 / 3;
	}

	&__call-content {
		padding: 96px 0 0 130px;
	}

	&__call-title {
		font-weight: 700px;
		font-size: 64px;
		line-height: 64px;
		color: #000000;
		max-width: 520px;
	}

	&__call-description {
		margin-top: 16px;
		font-size: 20px;
		line-height: 32px;
		color: #5b5b5b;
		max-width: 390px;
	}

	&__call-photo {		
	}

	&__call-photo img {		
	}

	&__calculator-repair {
		background: linear-gradient(328.46deg, #ffffff 16.44%, rgba(255, 255, 255, 0) 102.9%),
			linear-gradient(0deg, #dfdfdf, #dfdfdf);

		position: relative;
		max-width: 440px;
		max-height: 402px;
	}

	&__calculator-repair--content {		
		padding: 40px 0 0 40px;
	}

	&__calculator-repair--title {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: #000000;
	}

	&__calculator-repair--description {
		margin-top: 4px;
		font-size: 16px;
		line-height: 24px;
		color: #5b5b5b;
	}

	&__calculator-repair--photo {
		transform: translateY(-70px);	
	}

	&__trade-in {
		background: linear-gradient(344.28deg, #ffffff 35.09%, rgba(255, 255, 255, 0) 81.62%),
			linear-gradient(0deg, #bababa, #bababa);

		position: relative;
		max-width: 440px;
		max-height: 402px;
	}

	&__trade-in--content {		
		padding: 40px 0 0 40px;
	}

	&__trade-in--title {
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: #000000;
	}

	&__trade-in--description {
		margin-top: 4px;
		font-size: 16px;
		line-height: 24px;
		color: #5b5b5b;
	}

	&__button {
	}

	&__trade-in--photo {
		transform: translateY(-50px);		
	}
}
.btn {
}
.home-pade {
	&__call-btn {
		margin-top: 24px;
		margin-bottom: 50px;
		padding: 12px 24px;
		border-radius: 24px;
		background-color: #2c6dec;
		color: #ffffff;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
	}

	&__calculator-repair--btn {
		margin-top: 16px;
		border: none;
		background-color: inherit;
	}

	&__trade-in--btn {
		margin-top: 16px;
		border: none;
		background-color: inherit;
	}

	&__trade-in--button {
	}
}
